# Project exclude paths
/miniprogram/components/behaviors/pagination.js
/miniprogram/components/book/book.js
/miniprogram/components/classic/essay/essay.js
/miniprogram/components/classic/movie/index.js
/miniprogram/components/classic/music/music.js
/miniprogram/components/classic/classic-beh.js
/miniprogram/components/epsoide/epsoide.js
/miniprogram/components/image-button/image-button.js
/miniprogram/components/like/index.js
/miniprogram/components/navi/navi.js
/miniprogram/components/search/search.js
/miniprogram/components/tag/tag.js
/miniprogram/models/book.js
/miniprogram/models/classic.js
/miniprogram/models/keyword.js
/miniprogram/models/like.js
/miniprogram/models/token.js
/miniprogram/models/user.js
/miniprogram/node_modules/
/miniprogram/pages/book/book.js
/miniprogram/pages/book-detail/book-detail.js
/miniprogram/pages/classic/classic.js
/miniprogram/pages/classic-detail/classic-detail.js
/miniprogram/pages/my/my.js
/miniprogram/utils/http.js
/miniprogram/utils/util.js
/miniprogram/app.js
/miniprogram/config.js
/node_modules/
/$node_modules/
/.idea/
